<!DOCTYPE html>
<html>

<head>​
    <title>Sistema de Controle de Animais</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">​
</head>​

<body>​
    <center> ​

        <image src="../images/logo.png" style="max-height: 162px;"></image>

        <h1> Sistema de Controle de Animais </h1>​
        <a href="usuarioCreate"> <button> Cadastrar Usuário</button> </a> ​
        <a href="usuarioList"> <button> Listar Usuários</button> </a>​
        <a href="animalCreate"> <button> Cadastrar Animal</button> </a> ​
        <a href="animalList"> <button> Listar Animais</button> </a>
        <a href="Logout"> <button> Logout</button> </a>​
        <br> <br>​
        {{{body}}}

        ​
    </center>​
</body>​

</html>