<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Controle de Animais</title>
    
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">​
</head>​

<body>​
    <center> ​

        <image src="../images/logo.png" style="max-height: 162px;"></image>

        <h1> Sistema de Controle de Animais </h1>​​
        <br> <br>​
        {{{body}}}​
    </center>​
</body>​

</html>